* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


.dashboard {
    display: flex;
    height: 100vh;
    background-color: rgb(88, 84, 84); 
}


.sidebar {
    width: 230px;
    background-color: #000000;
    color: #ffffff;
    padding: 25px 20px;
}

.sidebar h2 {
    margin-bottom: 40px;
    color: #ffffff;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 14px;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.sidebar ul li:hover,
.sidebar ul li.active {
    background-color: #ff2e2e;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: #e5e7eb;
}

.content h1 {
    font-size: 28px;
    color: #111111;
}


.cards {
    display: flex;
    gap: 25px;
    margin-top: 35px;
}

.card {
    background-color: #000000;
    width: 220px;
    padding: 25px;
    border-radius: 12px;

    border: 1px solid #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.card:hover {
    border: 1px solid #ff2e2e;
    box-shadow: 0 0 15px #ff2e2e40;
    transform: translateY(-6px);
}

.card h3 {
    color: #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card p {
    margin-top: 12px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}
